/* Global  */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.lab {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
#lab1,
#lab2,
#lab3,
#lab4,
#lab5 {
  border: 1px solid gray;
  background-color: bisque;
  overflow: hidden;
}
#squared {
  vertical-align: super;
  font-size: 14px;
}
